<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% if error %}
    <h1>{{ error }}</h1>
{% endif %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="firstname" placeholder="Firstname">
    <input type="text" name="lastname"  placeholder="Lastname">
    <input type="email" name="email"    placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <label for="user_group">I am</label>
        <select name="user_group" id="user_group">
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
    <input type="submit" value="Register">
</form>
</body>
</html>
